<app-nav-bar></app-nav-bar>
<div class="row pt-5">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Forgot Password</h3>
    <form #f="ngForm"
          (ngSubmit)="resetEmail(f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               name="Email"
               ngModel
               required
               #email="ngModel"
               class="form-control"
               id="email"
               placeholder="Enter Email">
        <div *ngIf="!email.valid && email.touched"> Email is not valid </div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary">Reset<i class="bi bi-envelope-fill"></i></button>
    </form>
  </div>
</div>
<div class="col-md-6 offset-md-3 mt-4">
  <div class="alert alert-primary" *ngIf="passwordSubmitted" role="alert">
   Loading
  </div>
  <div class="alert alert-primary" *ngIf="passwordReset" role="alert">
    Email has been sent with reset password link
  </div>
  <div class="alert alert-warning" *ngIf="passwordResetError" role="alert">
    Email was incorrect
  </div>
</div>
