<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Forgot Password</h3>
    <form #f="ngForm"
          (ngSubmit)="resetEmail(f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               name="Email"
               ngModel
               required
               #email="ngModel"
               class="form-control"
               id="email"
               placeholder="Enter Email">
        <div *ngIf="!email.valid && email.touched"> Email is not valid </div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary">Reset<i class="bi bi-envelope-fill"></i></button>
      <div> <a [routerLink]="['/login']">Login</a></div>
    </form>
  </div>
</div>
