<app-internal-nav></app-internal-nav>
<h1>Money Amounts</h1>
<legend>Total:<span style="color: green"> <i class="bi bi-currency-dollar"></i>{{total}}</span></legend>
<div class="mb-3">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <label for="hundreds" class="form-label">Hundreds</label>
        <input type="text" id="hundreds" class="form-control" placeholder="{{hundreds}}">
      </div>
      <div class="col-2">
        <label for="fifties" class="form-label">Fifties</label>
        <input type="text" id="fifties" class="form-control" placeholder="{{halfDollars}}">
      </div>
      <div class="col-2">
        <label for="twenties" class="form-label">Twenties</label>
        <input type="text" id="twenties" class="form-control" placeholder="{{twenties}}">
      </div>
      <div class="col-2">
        <label for="tens" class="form-label">Tens</label>
        <input type="text" id="tens" class="form-control" placeholder="{{tens}}">
      </div>
      <div class="col-2">
        <label for="fives" class="form-label">Fives</label>
        <input type="text" id="fives" class="form-control" placeholder="{{fives}}">
      </div>
      <div class="col-2">
        <label for="ones" class="form-label">Ones</label>
        <input type="text" id="ones" class="form-control" placeholder="{{ones}}">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="dollarCoins" class="form-label" >Dollar Coins</label>
        <input type="text" id="dollarCoins" class="form-control" placeholder="{{dollarCoins}}">
      </div>
      <div class="col-2">
        <label for="halfDollar" class="form-label" >Half Dollars</label>
        <input type="text" id="halfDollar" class="form-control" placeholder="{{halfDollars}}">
      </div>
      <div class="col-2">
        <label for="quarters" class="form-label">Quarters</label>
        <input type="text" id="quarters" class="form-control" placeholder="{{quarters}}">
      </div>
      <div class="col-2">
        <label for="dimes" class="form-label">Dimes</label>
        <input type="text" id="dimes" class="form-control" placeholder="{{dimes}}">
      </div>
      <div class="col-2">
        <label for="nickles" class="form-label">Nickels</label>
        <input type="text" id="nickles" class="form-control" placeholder="{{nickles}}">
      </div>
      <div class="col-2">
        <label for="pennies" class="form-label">Pennies</label>
        <input type="text" id="pennies" class="form-control" placeholder="{{pennies}}">
      </div>

    </div>
  </div>
</div>
