<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cash Handler <i class="bi bi-currency-dollar"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register" >Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="alert alert-primary" *ngIf="submitted" role="alert">
    Loading
    </div>
    <h3>Confirm Email</h3>
    <div class="alert alert-primary" *ngIf="confirmed" role="alert">
     Email Confirmed
    </div>
    <div class="alert alert-warning" *ngIf="!confirmed" role="alert">
      Unable to Confirm Email
    </div>
  </div>
</div>


