<app-nav-bar></app-nav-bar>
<div class="row pt-5">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Change Password</h3>
    <form #f="ngForm"
          (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="text"
               name="NewPassword"
               [(ngModel)]="userCreditails.newpassword"
               required
               #newPassword="ngModel"
               class="form-control"
               id="NewPassword"
               placeholder="Enter New Password">
        <div *ngIf="!newPassword.valid && newPassword.touched"> Email is not valid </div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary">Save<i class="bi bi-save"></i></button>
    </form>
  </div>
</div>
<div class="col-md-6 offset-md-3 mt-4">
  <div class="alert alert-primary" *ngIf="passwordSubmitted" role="alert">
    Loading
  </div>
  <div class="alert alert-primary" *ngIf="passwordReset" role="alert">
    Password has been reset
  </div>
  <div class="alert alert-warning" *ngIf="passwordResetError" role="alert">
    Reset Error
  </div>
</div>
<svg class="fixed-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#24cba7" fill-opacity="1" d="M0,64L48,85.3C96,107,192,149,288,186.7C384,224,480,256,576,229.3C672,203,768,117,864,74.7C960,32,1056,32,1152,74.7C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

