<app-nav-bar></app-nav-bar>
<div class="row pt-5">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Change Password</h3>
    <form #f="ngForm"
          (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="text"
               name="NewPassword"
               [(ngModel)]="userCreditails.newpassword"
               required
               #newPassword="ngModel"
               class="form-control"
               id="NewPassword"
               placeholder="Enter New Password">
        <div *ngIf="!newPassword.valid && newPassword.touched"> Email is not valid </div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary">Save<i class="bi bi-save"></i></button>
    </form>
  </div>
</div>
<div class="col-md-6 offset-md-3 mt-4">
  <div class="alert alert-primary" *ngIf="passwordSubmitted" role="alert">
    Loading
  </div>
  <div class="alert alert-primary" *ngIf="passwordReset" role="alert">
    Password has been reset
  </div>
  <div class="alert alert-warning" *ngIf="passwordResetError" role="alert">
    Reset Error
  </div>
</div>


