<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cash Handler <i class="bi bi-currency-dollar"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register" >Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Change Password</h3>
    <form #f="ngForm"
          (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="text"
               name="NewPassword"
               [(ngModel)]="userCreditails.newpassword"
               required
               #newPassword="ngModel"
               class="form-control"
               id="NewPassword"
               placeholder="Enter New Password">
        <div *ngIf="!newPassword.valid && newPassword.touched"> Email is not valid </div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary">Save<i class="bi bi-save"></i></button>
    </form>
  </div>
</div>
<div class="col-md-6 offset-md-3 mt-4">
  <div class="alert alert-primary" *ngIf="passwordReset" role="alert">
    Loading
  </div>
  <div class="alert alert-primary" *ngIf="passwordReset" role="alert">
    Password has been reset
  </div>
  <div class="alert alert-warning" *ngIf="passwordResetError" role="alert">
    Reset Error
  </div>
</div>


