<app-internal-nav></app-internal-nav>
<body>
<div class="container m-26-p-15 mt-5">
  <div class="row">
    <div *ngIf="!transactionsLoaded||!moneyAmountLoaded" class="col m-25-p-10">
      <button class="btn btn-primary" type="reset" (click)="reLoadpage()">Refresh Result<i class="bi bi-arrow-clockwise"></i> </button>
    </div>
    <div *ngIf="!transactionsLoaded||!moneyAmountLoaded" class="col m-25-p-10 rounded-corners green-block">
      <p>Loading Page may need refresh</p>
    </div>
    <div *ngIf="transactionsLoaded&&moneyAmountLoaded" class="col m-25-p-10 rounded-corners">
      <button class="btn btn-primary" type="reset" (click)="reLoadpage()">Refresh Result<i class="bi bi-arrow-clockwise"></i> </button>
     <app-money-amounts-display></app-money-amounts-display>
      <app-transaction-table></app-transaction-table>
    </div>
  </div>
</div>
</body>
