.rounded-corners {
  border-radius: 25px;
}

.green-block {
  background-color: green;
  color: white;
}

.m-25-p-10 {
  margin: 25px;
  padding: 10px;
}

.m-10-p-25 {
  margin: 10px;
  padding: 25px;
}
