
.card {
  width: fit-content;
  min-width: 500px;
  padding: 2%;
  margin-top: 3%;
}

label {
  padding-left: 10%;
}

.title-box {
  margin-left: 10%;
}

.display-currency {
  text-align: right;
  padding-right: 5%;
}

.first-row {
  margin-top: 3%;
}

#submit-btn {
  margin-top: 4%;
  height: 50px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: auto;
}
