<body>
<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col-12 offset-4  ">
    <h1 class="display-1"><span style="font-weight: bolder ; font-size: larger">Cash Handler</span></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Faz417327.vo.msecnd.net%2Fcontent%2Fimages%2Fcache%2Fpos-x-ion-cash-drawer_800_600.png&f=1&nofb=1" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

</div>
<!-- Adds a bit of flare tot my page and less white space  -->

</body>
