<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cash Handler <i class="bi bi-currency-dollar"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register" >Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-12 offset-5  ">
    <h1><span style="font-weight: bolder ; font-size: larger">Cash Handler</span></h1>
  </div>
</div>
<div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Faz417327.vo.msecnd.net%2Fcontent%2Fimages%2Fcache%2Fpos-x-ion-cash-drawer_800_600.png&f=1&nofb=1" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
</div>
<!-- Adds a bit of flare tot my page and less white space  -->

</body>
