<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cash Handler <i class="bi bi-currency-dollar"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register" >Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register</h3>
    <form #f="ngForm"
          (ngSubmit)="register(f)">
      <div class="form-group">
        <label for="loginUsername">Email</label>
        <input type="text"
               name="Email"
               ngModel
               required pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+"
               #email="ngModel"
               class="form-control"
               id="Email"
               placeholder="Enter Email">
        <div *ngIf="!email.valid && email.touched"> Email is not valid </div>
      </div>
      <div class="form-group">
        <label for="loginUsername">Username</label>
        <input type="text"
               name="username"
               ngModel
               required
               #username="ngModel"
               class="form-control"
               id="loginUsername"
               placeholder="Enter username">
        <div *ngIf="!username.valid && username.touched"> Username is not valid </div>
      </div>
      <hr/>
      <p></p>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password"
               name="password"
               ngModel
               required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$"
               #password="ngModel"
               class="form-control"
               id="RegisterPassword"
               placeholder="Password">
        <div *ngIf="!password.valid && password.touched">
          Password requires at least 8 characters, one upper case, one lower case,and one special character
        </div>
      </div>
      <div class="form-group">
        <label for="loginPassword">Re-Enter Password</label>
        <input type="password"
               name="passwordConfirm"
               ngModel
               required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$"
               #passwordConfirm="ngModel"
               class="form-control"
               id="loginPassword"
               placeholder="Password">
        <div *ngIf="passwordConfirm.value != password.value"> Passwords does not match</div>
      </div>
      <button type="submit"
              [disabled]="f.invalid"
              class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i>Register</button>
      <div *ngIf="UserCreated"> <a [routerLink]="['/login']">Login</a></div>
    </form>
    <div class="col-md-6 offset-md-3 mt-4">
      <div class="alert alert-primary" *ngIf="UserSubmitted" role="alert">
       Loading
      </div>
      <div class="alert alert-primary" *ngIf="UserCreated" role="alert">
        Account Created Check Email for Account Verification
      </div>
      <div class="alert alert-warning" *ngIf="CreationError" role="alert">
        Username or Email was taken
      </div>
    </div>
  </div>
</div>

